<div *ngIf="mostrar" class="datos">
  <h3>{{datos.nombre}} </h3>
  <p>{{datos.direccion}} </p>
</div>

<div class="btn">
  <button type="button" (click)="mostrar = !mostrar">Mostrar/ocultar</button>
</div>
